/* coliconstruct color pallete */
:root{
    --primary-skyblue:#78bbf9;
    --primary-darkblue:#083465;
    font-smooth: always;

}


.header-bg{
  position:relative;
  z-index: -2;
  background-image: url("/assets/headerbg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.bg-contrast{
  position:absolute;
  width: 100%;
  height: 95%;
  z-index:-1;
  background-color: rgba(0,0,0,0.5);
  
}

.text-color-skyblue{
    color:var(--primary-skyblue);
    text-shadow: 1px 1px rgba(8,52,101,0.7);
}

.text-color-darkblue{
    color:var(--primary-darkblue);
    text-shadow: 1px 1px rgba(120,187,249,0.7);
}


.custom-nav-href{
    display:flex;
    
}
.custom-nav-href p{
    font-size: 25px;
    margin-left:4px;   
}

.logo-text{
    line-height: 0.8;
    padding-top:10px;
    text-align: left;
    /* text-shadow: 1px 1px rgba(120,187,249,0.7); */
}
.logo-text1{
    font-weight: 500;
    margin: 0px;
    font-size:10px;
}

.logo-text2{
    color:white;
    margin-left:5px;
    font-size: 12px;
}

.icon-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%); 
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    color: var(--primary-skyblue);
    font-size: 20px;
    border-radius: 0px 50px 50px 0px;
    background-color: rgba(0,0,0,0.7);
  }
  

  /* social media sticky shortcuts */
  .facebook:hover{
    background: #3B5998;
    color: white;
  }
  
  .twitter:hover {
    background: #55ACEE;
    color: white;
  }
  
  .google:hover {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin:hover {
    background: #007bb5;
    color: white;
  }
  
  .viber:hover {
    background: #6e2cf3;
    color: white;
  }
  

  /* Projects Section */
  .proj-box{
    position: relative;
    /* width:400px;
    height:400px;
    background-color: black;
    text-align: center;
    box-shadow: 1px 1px 10px black; */
    /* border: 1px solid red; */
    width:250px;
    height:300px;
    box-shadow: 1px 1px 5px black;
  }
  
  .proj-box img {
    position:absolute;
    left: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: inherit;
    object-fit:unset;
    /* border: 1px solid red; */
  }

.proj-thumb-header{
  position:absolute;
  top:45%;
  left:50%;
  transform: translateX(-50%);
  z-index:2;
  color:white;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  padding:10px;
}
  


/* Mobile CSS */
  @media only screen and (max-width: 600px) {
   
    .box{
     
      width:350px;
      height:350px;
    
    }
    
    .header-bg{
      
      background-image: none;
      background-color: black;
      box-shadow: 1px 1px 3px black;
    }

    .bg-contrast{
      display:none;
    }
    .icon-bar {
      z-index:100;

    }

  }